In [14]:
import json
import openai
import pandas as pd

In [15]:
df=pd.read_csv('Town_data/For_Davinci.csv')

In [16]:
df

,Unnamed: 0,Prompt,Completion
0,535,"Male.Leopold Strauss was born in Vienna, Austr...","Micah: Well, well, well, look who it is."
1,153,"Male.Leopold Strauss was born in Vienna, Austr...",Dutch: You always know how to treat your lead...
2,58,"Male.Leopold Strauss was born in Vienna, Austr...",You: Forgive me Miss Grimshaw.
3,110,"Male.Leopold Strauss was born in Vienna, Austr...",Hosea: How are you today Arthur.{nod}
4,532,"Male.Leopold Strauss was born in Vienna, Austr...","Micah: Hey Arthur, how's it going?"
...,...,...,...
585,24,Full name Susan Grimshaw.Female.Susan was one ...,Strauss: Herr Morgan.
586,383,"Male.Leopold Strauss was born in Vienna, Austr...","Micah: ""Not yet, but I'm sure I'll come up wit..."
587,266,"Male.Leopold Strauss was born in Vienna, Austr...",Dutch: I don't know what you're talking about....
588,155,Full name Susan Grimshaw.Female.Susan was one ...,"Strauss: Oh, I slept just fine.Can't complain."
589,4,"Male.Leopold Strauss was born in Vienna, Austr...",Dutch: Why are you acting like a fool.{annoyed}

In [17]:
def Reading_Histroy(file="persona3/basic_Hist.csv"):
    f = open(file, "r")
    Names = []
    Histories = []
    for line in (f.readlines()):
        if line=='\n':
            continue
        if(line.find(':')!=-1):
            Names.append((line).split(':')[0])
            continue
        Histories.append(line) 
    return (Names,Histories)

In [18]:
def Reading_Histroy(file="persona3/basic_Hist.csv"):
    f = open(file, "r")
    Names = []
    Histories = []
    for line in (f.readlines()):
        if line=='\n':
            continue
        if(line.find(':')!=-1):
            Names.append((line).split(':')[0])
            continue
        Histories.append(line) 
    return (Names,Histories)

In [19]:
(Names,Histories)=Reading_Histroy()
(CharName,CharHist)=Reading_Histroy('persona3/Character_Hist.csv')

In [20]:
(RName,RHistory)=Reading_Histroy("Town_data/Histories.csv")

In [27]:
key='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'

In [48]:
def GenerateText1(prompt):
    openai.api_key = key
    response = openai.Completion.create(
    model="curie:ft-personal-2023-05-28-20-09-27",    
    prompt=prompt,
    temperature=1,
    max_tokens=1280,
    top_p=1,
    frequency_penalty=0.0,
    presence_penalty=0.0,
    stop=["\n\n###\n\n"," END"]
    )
    data=response.to_dict()
    sf=pd.DataFrame.from_dict(data,orient='index')
    fs=sf.transpose()
    ass=json.dumps(fs['choices'][0])
    return  ass

In [54]:
History='Male robot drone. Jarvis was made in the stark tower capable of having complete emotions like a human with his personality leaning towards being a bit sassy. A worker drone that has awake in a maze with a human after an accident with the teleporter.\nMale.John Stones. A human who was working in stark tower but due to a power failure while working on a teleporter caused him and the drone assigned to be working with him to be teleported to a maze. Jarvis has woken up to find itself floating above John surrounded by walls.\n '
EventSystem='Event System: None.'

In [69]:
GenerateText1(History+EventSystem+'John: Hello there Jarvis.'+'\n\n###\n\n')

'[{"text": "Jarvis: Hello, Mr. Morgan.", "index": 0, "logprobs": null, "finish_reason": "stop"}]'