In [653]:
import pandas as pd
import tensorflow as tf
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [654]:
description = pd.read_excel('Softec_Attribute_Description.xlsx')
dfA=pd.read_csv('Softec_Medication_Data_Kaggle_V1.csv')
dfB=pd.read_csv('Softec_Patient_Data_Testing_Features.csv')
Ans=pd.read_csv('Softec_Patient_Data_Testing_Kaggle_V1.csv')
dfD=pd.read_csv('Softec_Patient_Data_Training_Kaggle_V1.csv')
dfE=pd.read_csv('Softec_Socio_Economics_Data_Kaggle_V1.csv')

In [655]:
Test=pd.merge(pd.merge(dfA,dfE,on='ID'),dfB,on='ID')
Train=pd.merge(pd.merge(dfA,dfE,on='ID'),dfD,on='ID')

In [656]:
Train

,ID,dapagliflozin,exenatide,glimepiride,glyburide and metformin hydrochloride,insulin,metformin hydrochloride,pioglitazone,sitagliptin and metformin hydrochloride,Avg ADI,...,# Part B E&M,# Part B Drugs,# Part B Ambulance,# Dialysis,# Part-B Dialysis,# Rx Claims,# DME,# Miscellaneous,TotalCost_Y_Actual,TotalCost_Y_Expected
0,38182019,0,0,0,0,0,1,0,0,74.833333,...,1.0,0,0,0,0.0,45,0,0,1220.66,1220.66
1,66832017,0,0,0,0,0,1,0,0,66.142857,...,4.0,1,0,0,0.0,37,0,0,4550.58,4550.58
2,1932020,0,0,0,0,0,1,0,0,73.857143,...,3.0,0,0,0,0.0,59,0,0,22397.08,22397.08
3,80992020,0,0,0,0,0,1,0,0,46.500000,...,6.0,0,0,0,0.0,48,0,0,4198.11,4198.11
4,92412019,0,0,0,0,0,1,0,0,85.100000,...,3.0,0,0,0,0.0,30,6,0,1534.91,1534.91
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16323,27862020,0,0,0,0,1,1,0,0,60.833333,...,1.0,0,0,0,0.0,266,22,0,6284.55,6284.55
16324,16612020,0,0,0,0,0,1,0,0,77.375000,...,0.0,0,0,0,0.0,27,0,0,319.29,319.29
16325,75882019,0,0,0,0,0,1,0,0,76.566667,...,2.0,0,0,0,0.0,74,0,0,5094.20,5094.20
16326,58112019,0,0,1,0,1,0,0,0,62.769231,...,7.0,0,0,0,0.0,23,9,0,1588.37,1588.37
16327,50592018,0,0,1,0,0,0,0,0,68.500000,...,2.0,0,0,0,0.0,130,21,0,248736.38,248736.38

In [657]:
Train.Race=Train.Race.replace({'Black': 0, 'White': 1,'Hispanic':2,'Asian':3,'Other Race':4,'North American Native':5,'UnKnown':11})
Train.Race.astype(int)
Train.Race=Train.Race.replace({11:np.nan})
Train.Sex=Train.Sex.replace({'Male':0,'Female':1})
Train.Sex.astype(int)
Train.State=pd.factorize(Train['State'])[0]
Train.MSA=pd.factorize(Train['MSA'])[0] #8th value is unkown 148 (values are unknown if not too many either drop those or fill those out before using corr)
Train.MSA=Train.MSA.replace({8:np.nan})
Train['Enrollment Type Categorized']=pd.factorize(Train['Enrollment Type Categorized'])[0]
Train=Train.drop('Avg ADI',axis=1)
Train=Train.drop('Max ADI',axis=1)
Train=Train.drop('Min ADI',axis=1)
Train=Train.drop('SVI1',axis=1)
Train=Train.drop('SVI3',axis=1)
Train=Train.drop('SVI4',axis=1)
Train=Train.drop('SVI',axis=1)
Train=Train.drop('MSA',axis=1)
Train=Train.drop('MDI',axis=1)
Train=Train.drop('Race',axis=1)
Train=Train.drop('State',axis=1)
Train=Train.drop('Zip Code',axis=1)

In [658]:
Test.Race=Test.Race.replace({'Black': 0, 'White': 1,'Hispanic':2,'Asian':3,'Other Race':4,'North American Native':5,'UnKnown':11})
Test.Race.astype(int)
Test.Race=Test.Race.replace({11:np.nan})
Test.Sex=Test.Sex.replace({'Male':0,'Female':1})
Test.Sex.astype(int)
Test.State=pd.factorize(Test['State'])[0]
Test.MSA=pd.factorize(Test['MSA'])[0] #5th value is unkown 66 (values are unknown if not too many either drop those or fill those out before using corr)
Test['Enrollment Type Categorized']=pd.factorize(Test['Enrollment Type Categorized'])[0]
Test.MSA=Test.MSA.replace({5:np.nan})
Test=Test.drop('Avg ADI',axis=1)
Test=Test.drop('Max ADI',axis=1)
Test=Test.drop('Min ADI',axis=1)
Test=Test.drop('SVI1',axis=1)
Test=Test.drop('SVI3',axis=1)
Test=Test.drop('SVI4',axis=1)
Test=Test.drop('SVI',axis=1)
Test=Test.drop('MSA',axis=1)
Test=Test.drop('MDI',axis=1)
Test=Test.drop('Race',axis=1)
Test=Test.drop('State',axis=1)
Test=Test.drop('Zip Code',axis=1)

In [659]:
bins = [-float('inf'), 1, 2, 3, 4, 7, 14, float('inf')]
labels = [0, 1, 2, 3, 4, 5, 7]

In [669]:
Train['# Rehabilitation Hospital'].value_counts()

# Rehabilitation Hospital
0    16232
1       91
2        5
Name: count, dtype: int64

In [661]:
Train['HCC Score'] = np.where(Train['HCC Score'] < 1, 0, 1)
Train['Age'] = np.where(Train['Age'] < 64, 0, 1)
Train['TotalCost_Y_Actual'] = np.where(Train['TotalCost_Y_Actual'] < 11000, 0, 1)
Train['TotalCost_Y_Expected'] = np.where(Train['TotalCost_Y_Expected'] < 11000, 0, 1)
Train['Diagnosis'] = pd.cut(Train['Diagnosis'], bins=bins, labels=labels, right=False)
Train['Diagnosis']=Train['Diagnosis'].astype(int)
Train['# Home Health'] = pd.cut(Train['# Home Health'], bins=bins, labels=labels, right=False)
Train['# Home Health']=Train['# Home Health'].astype(int)
Train['# Labs'] = pd.cut(Train['# Labs'], bins=bins, labels=labels, right=False)
Train['# Labs']=Train['# Labs'].astype(int)
Train['Enrollment Months'] = pd.cut(Train['Enrollment Months'], bins=bins, labels=labels, right=False)
Train['Enrollment Months']=Train['Enrollment Months'].astype(int)
Train['Avg. LOS'] = pd.cut(Train['Avg. LOS'], bins=bins, labels=labels, right=False)
Train['Avg. LOS']=Train['Avg. LOS'].astype(int)
Train['# Total Claims'] = pd.cut(Train['# Total Claims'], bins=bins, labels=labels, right=False)
Train['# Total Claims']=Train['# Total Claims'].astype(int)
Train['# Hospital OP'] = pd.cut(Train['# Hospital OP'], bins=bins, labels=labels, right=False)
Train['# Hospital OP']=Train['# Hospital OP'].astype(int)
Train['# All Physician OP'] = pd.cut(Train['# All Physician OP'], bins=bins, labels=labels, right=False)
Train['# All Physician OP']=Train['# All Physician OP'].astype(int)
Train['# Inpatient'] = pd.cut(Train['# Inpatient'], bins=bins, labels=labels, right=False)
#Train['# Inpatient']=Train['# Inpatient'].astype(int)

In [662]:
Train['# Inpatient'].value_counts()

# Inpatient
0    14154
1     1576
2      189
3       22
4        6
5        0
7        0
Name: count, dtype: int64

In [663]:
corr_matrix=Train.corr()
#plt.figure(figsize=(55, 45))
#sns.heatmap(Train.corr(), annot=True, cmap='coolwarm')
#plt.savefig('heatmap.png', dpi=300)

In [664]:
Train.Diagnosis

0        7
1        7
2        7
3        7
4        7
        ..
16323    7
16324    4
16325    7
16326    7
16327    7
Name: Diagnosis, Length: 16328, dtype: int64

In [665]:
corr_matrix['HCC Score']

ID                                        -0.008069
dapagliflozin                             -0.011084
exenatide                                  0.002259
glimepiride                                0.007553
glyburide and metformin hydrochloride     -0.011400
insulin                                    0.165507
metformin hydrochloride                   -0.143688
pioglitazone                              -0.025013
sitagliptin and metformin hydrochloride   -0.031607
Age                                       -0.024818
Sex                                       -0.011382
Enrollment Type Categorized                0.029785
Enrollment Months                          0.039563
HCC Score                                  1.000000
Avg. LOS                                   0.163031
Diagnosis                                  0.176887
# Total Claims                             0.047266
# Hospital OP                              0.212296
# All Physician OP                         0.256854
# Inpatient                                0.108553
# Short Term Stay Hospital                 0.106506
# Long Term Stay Hospital                 -0.007194
# Rehabilitation Hospital                  0.014567
# Psychiatric Hospital                     0.029454
# Readmissions                             0.021854
% Readmissions                             0.021807
# ER                                       0.130419
# ER Admissions                            0.105813
# SNF                                      0.075189
# Non Swing Bed SNF Claim                  0.074948
# Swing Bed SNF Claim                      0.008030
# Home Health                              0.127522
# Hospice                                  0.024006
# Labs                                     0.201252
# Part B Labs                              0.234013
# Imaging                                  0.120315
# Part B Imaging                           0.172103
# Part B E&M                               0.172724
# Part B Drugs                             0.092430
# Part B Ambulance                         0.021307
# Dialysis                                 0.003324
# Part-B Dialysis                          0.002242
# Rx Claims                                0.163864
# DME                                      0.203002
# Miscellaneous                            0.026263
TotalCost_Y_Actual                         0.202908
TotalCost_Y_Expected                       0.205773
Name: HCC Score, dtype: float64

In [666]:
for col in Train.columns:
    if Train[col].isna().sum()!=0:
        print(col+ ' = '+str(Train[col].isna().sum()))

# Inpatient = 381
# Readmissions = 272
# Part B Labs = 118
# Part B E&M = 73
# Part-B Dialysis = 795